.clients {

  &__title {
    font-size: 60px;
    font-family: 'MullerExtraBold', serif;
    letter-spacing: 1.5px;
  }
  &__subtitle {
    font-size: 24px;
    font-family: 'MullerRegular', serif;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__logo {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 5px;
    opacity: .4;
    transition: .4s;
    background: #fff;
    box-shadow: 0 0 100px rgba(35, 35, 35, 0.1);
    &:hover {
      z-index: 1;
      box-shadow: 0 0 100px rgba(35, 35, 35, 0.3);
      opacity: 1;
    }
    img {
      max-width: 100%;
    }
  }
}
