.gifts {
  position: relative;

  &__title {
    font-size: 60px;
    font-family: 'MullerExtraBold', serif;
    letter-spacing: 1.5px;
  }

  &__subtitle {
    font-size: 24px;
    font-family: 'MullerRegular', serif;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }

}
