.menu {
  @include media-breakpoint-down(lg) {
    margin-top: 16px;
  }
  @include media-breakpoint-down(md) {
    position: fixed;
    z-index: 6;
    margin: 0;
    padding: 5px 20px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1b1e;
  }
  @media (max-width: 420px) {
    padding: 5px 15px;
  }

  &__wrap {
    @include media-breakpoint-up(lg) {
      display: block!important;
     }
    @include media-breakpoint-down(md) {
       display: none;
       z-index: 7;
       position: fixed;
       left: 0;
       right: 0;
       top: 0;
     }

    &_block {
      margin: 0 -90px;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1300px) {
        margin: 0 -30px;
      }
      @include media-breakpoint-down(lg) {
        margin: 0 0 40px 0;
      }
      @include media-breakpoint-down(md) {
        flex-direction: column;
        padding: 30px 0;
        background-color: rgba(211, 232, 66, 1);
      }
    }
  }

  &__logo {
    width: 176px;
    height: 116px;
    order: 4;
    flex-shrink: 0;
    @include media-breakpoint-down(lg) {
      height: 95px;
      object-fit: contain;
      position: absolute;
      top: 126px;
      left: 50%;
      transform: translateX(-50%);
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
    &_mobile {
      display: none;
      width: 96px;
      height: 67px;
      padding-top: 7px;
      flex-shrink: 0;
      @include media-breakpoint-down(md) {
        display: block;
      }
      @media (max-width: 420px) {
        width: 80px;
        height: 60px;
      }
    }
  }

  &__link {
    font-family: 'MullerMedium', serif;
    font-size: 16px;
    letter-spacing: 3.2px;
    color: #fff;
    @include media-breakpoint-down(md) {
      color: #000;
      margin-bottom: 30px;
    }
    &:hover {
      color: #d6ef2c;
    }

    &:nth-of-type(1) {
      order: 1;
    }
    &:nth-of-type(2) {
      order: 2;
    }
    &:nth-of-type(3) {
      order: 3;
    }
    &:nth-of-type(4) {
      order: 5;
    }
    &:nth-of-type(5) {
      order: 6;
    }
    &:nth-of-type(6) {
      order: 7;
    }
    &:nth-of-type(7) {
      order: 8;
    }

    &.hidden-d {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  &__btn {
    flex-shrink: 0;
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    margin-right: 4px;
    border: none;
    background: #fff;
    border-radius: 50%;
    @include media-breakpoint-down(md) {
      display: flex;
    }
    &:before, &:after {
      content: ''
    }
    span, &:before, &:after {
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: #000;
    }
    span, &:before {
      margin-bottom: 3px;
    }
  }

  &__close {
    display: none;
    position: absolute;
    right: 40px;
    top: 30px;
    z-index: 2;
    border: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
    &:before, &:after {
      content: '';
      width: 25px;
      height: 3px;
      background-color: #777;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &__clearfix {
    display: none;
    padding-bottom: 77px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__contacts {
    padding: 0 10px;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #fff;
    line-height: 1.2;
    span:first-of-type {
      margin-right: 10px;
    }
    @include media-breakpoint-down(md) {
      display: flex;
    }
    @media (max-width: 420px) {
      flex-direction: column;
      font-size: 14px;
    }
  }
}
