.reviews{
  &__title{

  }
  &__subtitle{

  }
  &__wrap{

  }
  &__item{

  }
  &__photo{
    border-radius: 50%;
    width: rem(165);
    height: rem(165);
    overflow: hidden;
  }
  &__name{

  }
  &__position{

  }
  &__desk{

  }
}